www/snippets/TIWLS_widget_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.telecomitalia.it/agconfig_agplus-m5" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:agcfg="http://www.telecomitalia.it/agconfig_agplus-m5" elementFormDefault="qualified" id="NewDataSet">
<xs:include schemaLocation="datatypes.xsd"/>
<xs:element name="Device">
<xs:annotation>
<xs:documentation>ROOT</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="DeviceInfo">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Manufacturer" type="agcfg:string64"/>
<xs:element name="ModelName" type="agcfg:string64"/>
<xs:element name="SerialNumber" type="agcfg:string64"/>
<xs:element name="HardwareVersion" type="agcfg:string64"/>
<xs:element name="SoftwareVersion" type="agcfg:string64"/>
<xs:element name="UpTime" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="DSL">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Line" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="LinkStatus" type="agcfg:string"/>
<xs:element name="StandardUsed" type="agcfg:string"/>
<xs:element name="CurrentProfile" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Channel" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="UpstreamCurrRate" type="agcfg:unsignedInt"/>
<xs:element name="DownstreamCurrRate" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="PPP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="InterfaceNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Interface" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="IPCP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="LocalIPAddress" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Services">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="VoiceService" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="VoiceProfile" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="SIP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="OutboundProxy" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Line" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Status" type="agcfg:string256"/>
<xs:element name="DirectoryNumber" type="agcfg:unsignedInt"/>
<xs:element name="SIP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="AuthUserName" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="WiFi">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="RadioNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Radio" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="OperatingFrequencyBand" type="agcfg:string"/>
<xs:element name="Channel" type="agcfg:unsignedInt1_255"/>
<xs:element name="AutoChannelEnable" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="SSID" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="BSSID" type="agcfg:string"/>
<xs:element name="SSID" type="agcfg:string32"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="AccessPoint" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="SSIDReference" type="agcfg:string256"/>
<xs:element name="Security">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="ModesSupported" type="agcfg:string"/>
<xs:element name="ModeEnabled" type="agcfg:string"/>
<xs:element name="WEPKey" type="agcfg:hexBinary5_5_13_13"/>
<xs:element name="KeyPassphrase" type="agcfg:string63"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="AssociatedDevice" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="MACAddress" type="agcfg:string"/>
<xs:element name="AuthenticationState" type="agcfg:boolean"/>
<xs:element name="LastDataDownlinkRate" type="agcfg:unsignedInt1000_300000"/>
<xs:element name="LastDataUplinkRate" type="agcfg:unsignedInt1000_300000"/>
<xs:element name="Active" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Hosts">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="HostNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Host" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="PhysAddress" type="agcfg:string64"/>
<xs:element name="IPAddress" type="agcfg:string45"/>
<xs:element name="AddressSource" type="agcfg:string"/>
<xs:element name="AssociatedDevice" type="agcfg:string256"/>
<xs:element name="Layer1Interface" type="agcfg:string256"/>
<xs:element name="HostName" type="agcfg:string64"/>
<xs:element name="Active" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="UPnP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Device">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="UPnPMediaServer" type="agcfg:boolean"/>
<xs:element name="UPnPIGD" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="USB">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="PortNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Port" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="Standard" type="agcfg:string4"/>
<xs:element name="Rate" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="USBHosts">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="HostNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Host" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="DeviceNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Device" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="DeviceNumber" type="agcfg:unsignedInt"/>
<xs:element name="USBVersion" type="agcfg:string4"/>
<xs:element name="DeviceClass" type="agcfg:unsignedInt"/>
<xs:element name="DeviceSubClass" type="agcfg:unsignedInt"/>
<xs:element name="DeviceProtocol" type="agcfg:string256"/>
<xs:element name="ProductID" type="agcfg:unsignedInt"/>
<xs:element name="VendorID" type="agcfg:unsignedInt"/>
<xs:element name="Manufacturer" type="agcfg:string64"/>
<xs:element name="SerialNumber" type="agcfg:string64"/>
<xs:element name="Port" type="agcfg:unsignedInt"/>
<xs:element name="Rate" type="agcfg:unsignedInt"/>
<xs:element name="Parent" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
