www/snippets/TIWLS_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.telecomitalia.it/agconfig_agplus-m5" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:agcfg="http://www.telecomitalia.it/agconfig_agplus-m5" elementFormDefault="qualified" id="NewDataSet">
<xs:include schemaLocation="datatypes.xsd"/>
<xs:element name="Device">
<xs:annotation>
<xs:documentation>ROOT</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="InterfaceStackNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="DeviceInfo">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Manufacturer" type="agcfg:string64"/>
<xs:element name="ManufacturerOUI" type="agcfg:string6"/>
<xs:element name="ModelName" type="agcfg:string64"/>
<xs:element name="Description" type="agcfg:string256"/>
<xs:element name="ProductClass" type="agcfg:string64"/>
<xs:element name="SerialNumber" type="agcfg:string64"/>
<xs:element name="HardwareVersion" type="agcfg:string64"/>
<xs:element name="SoftwareVersion" type="agcfg:string64"/>
<xs:element name="ProvisioningCode" type="agcfg:string64"/>
<xs:element name="UpTime" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_ProfileName" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_ServiceType" type="agcfg:string256"/>
<xs:element name="VendorConfigFileNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="VendorLogFileNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="VendorConfigFile" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="Date" type="agcfg:dateTime"/>
<xs:element name="Description" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="VendorLogFile" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="MaximumSize" type="agcfg:unsignedInt"/>
<xs:element name="Persistent" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="ManagementServer">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="URL" type="agcfg:string256"/>
<xs:element name="Username" type="agcfg:string256"/>
<xs:element name="Password" type="agcfg:string256"/>
<xs:element name="PeriodicInformEnable" type="agcfg:boolean"/>
<xs:element name="PeriodicInformInterval" type="agcfg:unsignedInt1_"/>
<xs:element name="PeriodicInformTime" type="agcfg:dateTime"/>
<xs:element name="ParameterKey" type="agcfg:string32"/>
<xs:element name="ConnectionRequestURL" type="agcfg:string256"/>
<xs:element name="ConnectionRequestUsername" type="agcfg:string256"/>
<xs:element name="ConnectionRequestPassword" type="agcfg:string256"/>
<xs:element name="UpgradesManaged" type="agcfg:boolean"/>
<xs:element name="DefaultActiveNotificationThrottle" type="agcfg:unsignedInt"/>
<xs:element name="ManageableDeviceNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_ServiceRealm" type="agcfg:string256"/>
<xs:element name="X_TELECOMITALIA_IT_ManagementConnection" type="agcfg:string256"/>
<xs:element name="ManageableDevice" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="ManufacturerOUI" type="agcfg:string6"/>
<xs:element name="SerialNumber" type="agcfg:string64"/>
<xs:element name="ProductClass" type="agcfg:string64"/>
<xs:element name="Host" type="agcfg:string1024"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Time">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="NTPServer1" type="agcfg:string64"/>
<xs:element name="NTPServer2" type="agcfg:string64"/>
<xs:element name="NTPServer3" type="agcfg:string64"/>
<xs:element name="NTPServer4" type="agcfg:string64"/>
<xs:element name="NTPServer5" type="agcfg:string64"/>
<xs:element name="CurrentLocalTime" type="agcfg:dateTime"/>
<xs:element name="LocalTimeZone" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="UserInterface">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="PasswordRequired" type="agcfg:boolean"/>
<xs:element name="PasswordReset" type="agcfg:boolean"/>
<xs:element name="ISPName" type="agcfg:string64"/>
<xs:element name="ISPHomePage" type="agcfg:string256"/>
<xs:element name="ISPHelpPage" type="agcfg:string256"/>
<xs:element name="X_TELECOMITALIA_IT_LedLowConsumptionEnable" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_LedStatus" type="agcfg:string64"/>
<xs:element name="RemoteAccess">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Port" type="agcfg:unsignedInt_65535"/>
<xs:element name="SupportedProtocols" type="agcfg:string"/>
<xs:element name="Protocol" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_WebPage">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="LANOption" type="agcfg:string32"/>
<xs:element name="IPv6UserConfigurable" type="agcfg:boolean"/>
<xs:element name="VoIPDetailEnable" type="agcfg:boolean"/>
<xs:element name="ConnectionMode" type="agcfg:string32"/>
<xs:element name="Profile" type="agcfg:string32"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_ServiceLed">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Static" type="agcfg:string32"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="InterfaceStack" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="HigherLayer" type="agcfg:string256"/>
<xs:element name="LowerLayer" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="QoS">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="MaxClassificationEntries" type="agcfg:unsignedInt"/>
<xs:element name="ClassificationNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="DefaultEthernetPriorityMark" type="agcfg:int-2_"/>
<xs:element name="Classification" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Order" type="agcfg:unsignedInt1_"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="AllInterfaces" type="agcfg:boolean"/>
<xs:element name="EthernetPriorityMark" type="agcfg:int-2_"/>
<xs:element name="VLANIDCheck" type="agcfg:int-1_"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="DSL">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="LineNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="ChannelNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Line" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="Upstream" type="agcfg:boolean"/>
<xs:element name="FirmwareVersion" type="agcfg:string64"/>
<xs:element name="LinkStatus" type="agcfg:string"/>
<xs:element name="StandardsSupported" type="agcfg:string"/>
<xs:element name="StandardUsed" type="agcfg:string"/>
<xs:element name="LineEncoding" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_DataPath" type="agcfg:string"/>
<xs:element name="AllowedProfiles" type="agcfg:string"/>
<xs:element name="CurrentProfile" type="agcfg:string"/>
<xs:element name="PowerManagementState" type="agcfg:string"/>
<xs:element name="UpstreamMaxBitRate" type="agcfg:unsignedInt"/>
<xs:element name="DownstreamMaxBitRate" type="agcfg:unsignedInt"/>
<xs:element name="UpstreamNoiseMargin" type="agcfg:int"/>
<xs:element name="DownstreamNoiseMargin" type="agcfg:int"/>
<xs:element name="UpstreamAttenuation" type="agcfg:int"/>
<xs:element name="DownstreamAttenuation" type="agcfg:int"/>
<xs:element name="UpstreamPower" type="agcfg:int"/>
<xs:element name="DownstreamPower" type="agcfg:int"/>
<xs:element name="SNRMpbus" type="agcfg:string24"/>
<xs:element name="SNRMpbds" type="agcfg:string24"/>
<xs:element name="Stats">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Total">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="ErroredSecs" type="agcfg:unsignedInt"/>
<xs:element name="SeverelyErroredSecs" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="Channel" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="LinkEncapsulationSupported" type="agcfg:string"/>
<xs:element name="LinkEncapsulationUsed" type="agcfg:string"/>
<xs:element name="LPATH" type="agcfg:unsignedInt_3"/>
<xs:element name="ACTINP" type="agcfg:int"/>
<xs:element name="UpstreamCurrRate" type="agcfg:unsignedInt"/>
<xs:element name="DownstreamCurrRate" type="agcfg:unsignedInt"/>
<xs:element name="Stats">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="ShowtimeStart" type="agcfg:unsignedInt"/>
<xs:element name="Total">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="XTURFECErrors" type="agcfg:unsignedInt"/>
<xs:element name="XTURCRCErrors" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="ATM">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="LinkNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Link" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="LinkType" type="agcfg:string"/>
<xs:element name="DestinationAddress" type="agcfg:string256"/>
<xs:element name="Encapsulation" type="agcfg:string"/>
<xs:element name="AAL" type="agcfg:string"/>
<xs:element name="Stats">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="CRCErrors" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="QoS">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="QoSClass" type="agcfg:string"/>
<xs:element name="PeakCellRate" type="agcfg:unsignedInt"/>
<xs:element name="MaximumBurstSize" type="agcfg:unsignedInt"/>
<xs:element name="SustainableCellRate" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="PTM">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="LinkNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Link" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="MACAddress" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Ethernet">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="InterfaceNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="LinkNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="VLANTerminationNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Interface" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="Upstream" type="agcfg:boolean"/>
<xs:element name="MACAddress" type="agcfg:string"/>
<xs:element name="MaxBitRate" type="agcfg:int-1_"/>
<xs:element name="DuplexMode" type="agcfg:string"/>
<xs:element name="Stats">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="PacketsSent" type="agcfg:unsignedLong"/>
<xs:element name="PacketsReceived" type="agcfg:unsignedLong"/>
<xs:element name="ErrorsSent" type="agcfg:unsignedLong"/>
<xs:element name="ErrorsReceived" type="agcfg:unsignedLong"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Link" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="MACAddress" type="agcfg:string"/>
<xs:element name="PriorityTagging" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="VLANTermination" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="VLANID" type="agcfg:unsignedInt1_4094"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="USB">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="PortNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Port" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="Standard" type="agcfg:string4"/>
<xs:element name="Rate" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="USBHosts">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="X_TELECOMITALIA_IT_USBService" type="agcfg:string16"/>
<xs:element name="HostNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Host" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="Reset" type="agcfg:boolean"/>
<xs:element name="USBVersion" type="agcfg:string4"/>
<xs:element name="DeviceNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Device" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="USBVersion" type="agcfg:string4"/>
<xs:element name="X_TELECOMITALIA_IT_DeviceClass" type="agcfg:string64"/>
<xs:element name="Manufacturer" type="agcfg:string64"/>
<xs:element name="X_TELECOMITALIA_IT_USBDeviceDescription" type="agcfg:string256"/>
<xs:element name="X_TELECOMITALIA_IT_USBSharingAddress" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="WiFi">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="RadioNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="SSIDNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="AccessPointNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Radio" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="Upstream" type="agcfg:boolean"/>
<xs:element name="MaxBitRate" type="agcfg:unsignedInt"/>
<xs:element name="SupportedFrequencyBands" type="agcfg:string"/>
<xs:element name="OperatingFrequencyBand" type="agcfg:string"/>
<xs:element name="SupportedStandards" type="agcfg:string"/>
<xs:element name="OperatingStandards" type="agcfg:string"/>
<xs:element name="PossibleChannels" type="agcfg:string1024"/>
<xs:element name="ChannelsInUse" type="agcfg:string1024"/>
<xs:element name="Channel" type="agcfg:unsignedInt1_255"/>
<xs:element name="AutoChannelSupported" type="agcfg:boolean"/>
<xs:element name="AutoChannelEnable" type="agcfg:boolean"/>
<xs:element name="AutoChannelRefreshPeriod" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_ChannelRefresh" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_InterferenceAvoiding" type="agcfg:boolean"/>
<xs:element name="OperatingChannelBandwidth" type="agcfg:string"/>
<xs:element name="ExtensionChannel" type="agcfg:string"/>
<xs:element name="IEEE80211hSupported" type="agcfg:boolean"/>
<xs:element name="IEEE80211hEnabled" type="agcfg:boolean"/>
<xs:element name="RegulatoryDomain" type="agcfg:string3_3"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="SSID" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="BSSID" type="agcfg:string"/>
<xs:element name="MACAddress" type="agcfg:string"/>
<xs:element name="SSID" type="agcfg:string32"/>
<xs:element name="X_TELECOMITALIA_IT_MACAddressControlEnabled" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_AllowedMACAddresses" type="agcfg:string256"/>
<xs:element name="Stats">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="PacketsSent" type="agcfg:unsignedLong"/>
<xs:element name="PacketsReceived" type="agcfg:unsignedLong"/>
<xs:element name="ErrorsSent" type="agcfg:unsignedInt"/>
<xs:element name="ErrorsReceived" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="AccessPoint" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="SSIDReference" type="agcfg:string256"/>
<xs:element name="SSIDAdvertisementEnabled" type="agcfg:boolean"/>
<xs:element name="WMMCapability" type="agcfg:boolean"/>
<xs:element name="WMMEnable" type="agcfg:boolean"/>
<xs:element name="AssociatedDeviceNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_DisconnectTime" type="agcfg:unsignedInt"/>
<xs:element name="Security">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="ModesSupported" type="agcfg:string"/>
<xs:element name="ModeEnabled" type="agcfg:string"/>
<xs:element name="WEPKey" type="agcfg:hexBinary5_5_13_13"/>
<xs:element name="KeyPassphrase" type="agcfg:string63"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="WPS">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="ConfigMethodsSupported" type="agcfg:string"/>
<xs:element name="ConfigMethodsEnabled" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="AssociatedDevice" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="MACAddress" type="agcfg:string"/>
<xs:element name="AuthenticationState" type="agcfg:boolean"/>
<xs:element name="LastDataDownlinkRate" type="agcfg:unsignedInt1000_300000"/>
<xs:element name="LastDataUplinkRate" type="agcfg:unsignedInt1000_300000"/>
<xs:element name="Active" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Bridging">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="MaxBridgeEntries" type="agcfg:unsignedInt"/>
<xs:element name="MaxDBridgeEntries" type="agcfg:unsignedInt"/>
<xs:element name="MaxQBridgeEntries" type="agcfg:unsignedInt"/>
<xs:element name="MaxVLANEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_IPTVService" type="agcfg:string"/>
<xs:element name="MaxFilterEntries" type="agcfg:unsignedInt"/>
<xs:element name="BridgeNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="FilterNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Bridge" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Standard" type="agcfg:string"/>
<xs:element name="PortNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="VLANNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="VLANPortNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Port" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="ManagementPort" type="agcfg:boolean"/>
<xs:element name="PVID" type="agcfg:int1_4094"/>
<xs:element name="AcceptableFrameTypes" type="agcfg:string"/>
<xs:element name="PriorityTagging" type="agcfg:boolean"/>
<xs:element name="Stats">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="PacketsSent" type="agcfg:unsignedLong"/>
<xs:element name="PacketsReceived" type="agcfg:unsignedLong"/>
<xs:element name="ErrorsSent" type="agcfg:unsignedInt"/>
<xs:element name="ErrorsReceived" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="VLAN" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="VLANID" type="agcfg:int1_4094"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="VLANPort" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="VLAN" type="agcfg:string256"/>
<xs:element name="Port" type="agcfg:string256"/>
<xs:element name="Untagged" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Filter" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Bridge" type="agcfg:string256"/>
<xs:element name="Order" type="agcfg:unsignedInt1_"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="DHCPType" type="agcfg:string"/>
<xs:element name="VLANIDFilter" type="agcfg:unsignedInt0_4094"/>
<xs:element name="EthertypeFilterList" type="agcfg:string256"/>
<xs:element name="EthertypeFilterExclude" type="agcfg:boolean"/>
<xs:element name="SourceMACAddressFilterList" type="agcfg:string512"/>
<xs:element name="SourceMACAddressFilterExclude" type="agcfg:boolean"/>
<xs:element name="DestMACAddressFilterList" type="agcfg:string512"/>
<xs:element name="DestMACAddressFilterExclude" type="agcfg:boolean"/>
<xs:element name="SourceMACFromVendorClassIDFilter" type="agcfg:string255"/>
<xs:element name="SourceMACFromVendorClassIDFilterExclude" type="agcfg:boolean"/>
<xs:element name="SourceMACFromVendorClassIDMode" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="PPP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="InterfaceNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Interface" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="Reset" type="agcfg:boolean"/>
<xs:element name="ConnectionStatus" type="agcfg:string"/>
<xs:element name="LastConnectionError" type="agcfg:string"/>
<xs:element name="IdleDisconnectTime" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_IdleMngDisconnectTime" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_ReconnectTime" type="agcfg:unsignedInt"/>
<xs:element name="Username" type="agcfg:string64"/>
<xs:element name="Password" type="agcfg:string64"/>
<xs:element name="MaxMRUSize" type="agcfg:unsignedInt1_1540"/>
<xs:element name="CurrentMRUSize" type="agcfg:unsignedInt1_1540"/>
<xs:element name="ConnectionTrigger" type="agcfg:string"/>
<xs:element name="LCPEcho" type="agcfg:unsignedInt"/>
<xs:element name="LCPEchoRetry" type="agcfg:unsignedInt"/>
<xs:element name="PPPoE">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="SessionID" type="agcfg:unsignedInt1_"/>
<xs:element name="ACName" type="agcfg:string256"/>
<xs:element name="ServiceName" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="IPCP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="LocalIPAddress" type="agcfg:string"/>
<xs:element name="DNSServers" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_WINS" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="IPv6CP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="LocalInterfaceIdentifier" type="agcfg:string"/>
<xs:element name="RemoteInterfaceIdentifier" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="IP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="IPv4Capable" type="agcfg:boolean"/>
<xs:element name="IPv4Enable" type="agcfg:boolean"/>
<xs:element name="IPv4Status" type="agcfg:string"/>
<xs:element name="IPv6Capable" type="agcfg:boolean"/>
<xs:element name="IPv6Enable" type="agcfg:boolean"/>
<xs:element name="IPv6Status" type="agcfg:string"/>
<xs:element name="InterfaceNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Interface" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="IPv4Enable" type="agcfg:boolean"/>
<xs:element name="IPv6Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="LastChange" type="agcfg:unsignedInt"/>
<xs:element name="LowerLayers" type="agcfg:string1024"/>
<xs:element name="Reset" type="agcfg:boolean"/>
<xs:element name="MaxMTUSize" type="agcfg:unsignedInt1_1540"/>
<xs:element name="Type" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_IGMPForwardingEnable" type="agcfg:boolean"/>
<xs:element name="IPv4AddressNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="IPv6AddressNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="IPv6PrefixNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="IPv4Address" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="IPAddress" type="agcfg:string"/>
<xs:element name="SubnetMask" type="agcfg:string"/>
<xs:element name="AddressingType" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="IPv6Address" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="IPAddressStatus" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="IPAddress" type="agcfg:string"/>
<xs:element name="Origin" type="agcfg:string"/>
<xs:element name="Prefix" type="agcfg:string"/>
<xs:element name="PreferredLifetime" type="agcfg:dateTime"/>
<xs:element name="ValidLifetime" type="agcfg:dateTime"/>
<xs:element name="Anycast" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="IPv6Prefix" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="PrefixStatus" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Prefix" type="agcfg:string"/>
<xs:element name="Origin" type="agcfg:string"/>
<xs:element name="StaticType" type="agcfg:string"/>
<xs:element name="ParentPrefix" type="agcfg:string"/>
<xs:element name="ChildPrefixBits" type="agcfg:string"/>
<xs:element name="OnLink" type="agcfg:boolean"/>
<xs:element name="Autonomous" type="agcfg:boolean"/>
<xs:element name="PreferredLifetime" type="agcfg:dateTime"/>
<xs:element name="ValidLifetime" type="agcfg:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Stats">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="PacketsSent" type="agcfg:unsignedLong"/>
<xs:element name="PacketsReceived" type="agcfg:unsignedLong"/>
<xs:element name="ErrorsSent" type="agcfg:unsignedInt"/>
<xs:element name="ErrorsReceived" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Diagnostics">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="IPPing">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="DiagnosticsState" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="Host" type="agcfg:string256"/>
<xs:element name="NumberOfRepetitions" type="agcfg:unsignedInt1_"/>
<xs:element name="Timeout" type="agcfg:unsignedInt1_"/>
<xs:element name="DataBlockSize" type="agcfg:unsignedInt1_65535"/>
<xs:element name="DSCP" type="agcfg:unsignedInt0_63"/>
<xs:element name="SuccessCount" type="agcfg:unsignedInt"/>
<xs:element name="FailureCount" type="agcfg:unsignedInt"/>
<xs:element name="AverageResponseTime" type="agcfg:unsignedInt"/>
<xs:element name="MinimumResponseTime" type="agcfg:unsignedInt"/>
<xs:element name="MaximumResponseTime" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="DownloadDiagnostics">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="DiagnosticsState" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="DownloadURL" type="agcfg:string256"/>
<xs:element name="DownloadTransports" type="agcfg:string"/>
<xs:element name="DSCP" type="agcfg:unsignedInt0_63"/>
<xs:element name="EthernetPriority" type="agcfg:unsignedInt0_7"/>
<xs:element name="X_TELECOMITALIA_IT_DownloadTCPWindowSize" type="agcfg:unsignedInt"/>
<xs:element name="ROMTime" type="agcfg:dateTime"/>
<xs:element name="BOMTime" type="agcfg:dateTime"/>
<xs:element name="EOMTime" type="agcfg:dateTime"/>
<xs:element name="TestBytesReceived" type="agcfg:unsignedInt"/>
<xs:element name="TotalBytesReceived" type="agcfg:unsignedInt"/>
<xs:element name="TCPOpenRequestTime" type="agcfg:dateTime"/>
<xs:element name="TCPOpenResponseTime" type="agcfg:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="UploadDiagnostics">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="DiagnosticsState" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="UploadURL" type="agcfg:string256"/>
<xs:element name="UploadTransports" type="agcfg:string"/>
<xs:element name="DSCP" type="agcfg:unsignedInt0_63"/>
<xs:element name="EthernetPriority" type="agcfg:unsignedInt0_7"/>
<xs:element name="TestFileLength" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_UploadTCPWindowSize" type="agcfg:unsignedInt"/>
<xs:element name="ROMTime" type="agcfg:dateTime"/>
<xs:element name="BOMTime" type="agcfg:dateTime"/>
<xs:element name="EOMTime" type="agcfg:dateTime"/>
<xs:element name="TotalBytesSent" type="agcfg:unsignedInt"/>
<xs:element name="TCPOpenRequestTime" type="agcfg:dateTime"/>
<xs:element name="TCPOpenResponseTime" type="agcfg:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="UDPEchoConfig">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="SourceIPAddress" type="agcfg:string"/>
<xs:element name="UDPPort" type="agcfg:unsignedInt"/>
<xs:element name="EchoPlusEnabled" type="agcfg:boolean"/>
<xs:element name="EchoPlusSupported" type="agcfg:boolean"/>
<xs:element name="PacketsReceived" type="agcfg:unsignedInt"/>
<xs:element name="PacketsResponded" type="agcfg:unsignedInt"/>
<xs:element name="BytesReceived" type="agcfg:unsignedInt"/>
<xs:element name="BytesResponded" type="agcfg:unsignedInt"/>
<xs:element name="TimeFirstPacketReceived" type="agcfg:dateTime"/>
<xs:element name="TimeLastPacketReceived" type="agcfg:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_Iperf">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Protocol" type="agcfg:string"/>
<xs:element name="Port" type="agcfg:unsignedInt"/>
<xs:element name="Results" type="agcfg:string10k"/>
<xs:element name="Reset" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Routing">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="RouterNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Router" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="IPv4ForwardingNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="IPv6ForwardingNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="IPv4Forwarding" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="StaticRoute" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_Persistance" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_SourceIPAddress" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_SourceSubnetMask" type="agcfg:string"/>
<xs:element name="DestIPAddress" type="agcfg:string"/>
<xs:element name="DestSubnetMask" type="agcfg:string"/>
<xs:element name="GatewayIPAddress" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="Origin" type="agcfg:string"/>
<xs:element name="ForwardingMetric" type="agcfg:int-1_"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="IPv6Forwarding" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="X_TELECOMITALIA_IT_Persistance" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_SourceIPAddress" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_SourceIPPrefix" type="agcfg:string"/>
<xs:element name="DestIPPrefix" type="agcfg:string"/>
<xs:element name="NextHop" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="Origin" type="agcfg:string"/>
<xs:element name="ForwardingMetric" type="agcfg:int-1_"/>
<xs:element name="ExpirationTime" type="agcfg:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="RouteInformation">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="NeighborDiscovery">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="InterfaceSettingNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="InterfaceSetting" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="RouterAdvertisement">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="InterfaceSettingNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="InterfaceSetting" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string"/>
<xs:element name="Prefixes" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="LANConfigSecurity">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="ConfigPassword" type="agcfg:string64"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Hosts">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="HostNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Host" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="PhysAddress" type="agcfg:string64"/>
<xs:element name="IPAddress" type="agcfg:string45"/>
<xs:element name="AddressSource" type="agcfg:string"/>
<xs:element name="LeaseTimeRemaining" type="agcfg:int-1_"/>
<xs:element name="AssociatedDevice" type="agcfg:string256"/>
<xs:element name="Layer1Interface" type="agcfg:string256"/>
<xs:element name="Layer3Interface" type="agcfg:string256"/>
<xs:element name="VendorClassID" type="agcfg:string65535"/>
<xs:element name="HostName" type="agcfg:string64"/>
<xs:element name="Active" type="agcfg:boolean"/>
<xs:element name="IPv4AddressNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="IPv6AddressNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="IPv4Address" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="IPAddress" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="IPv6Address" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="IPAddress" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="DNS">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="SupportedRecordTypes" type="agcfg:string"/>
<xs:element name="Client">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="ServerNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Server" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="DNSServer" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="Type" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="NAT">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="InterfaceSettingNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="PortMappingNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_DynamicDNSNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_URLFilteringNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="InterfaceSetting" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="X_TELECOMITALIA_IT_NATService" type="agcfg:string256"/>
<xs:element name="X_TELECOMITALIA_IT_NATPersistanceTime" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_NATStartIPAddress" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_NATEndIPAddress" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_NATExcludedInternalIPAddresses" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="PortMapping" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="AllInterfaces" type="agcfg:boolean"/>
<xs:element name="LeaseDuration" type="agcfg:unsignedInt"/>
<xs:element name="RemoteHost" type="agcfg:string"/>
<xs:element name="ExternalPort" type="agcfg:string"/>
<xs:element name="InternalPort" type="agcfg:string"/>
<xs:element name="Protocol" type="agcfg:string"/>
<xs:element name="InternalClient" type="agcfg:string256"/>
<xs:element name="Description" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_DynamicDNS" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="Domain" type="agcfg:string256"/>
<xs:element name="Provider" type="agcfg:string"/>
<xs:element name="Username" type="agcfg:string256"/>
<xs:element name="Password" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_URLFiltering" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="FilteredURLs" type="agcfg:string10k"/>
<xs:element name="FilteredURLsExclude" type="agcfg:boolean"/>
<xs:element name="AddURL" type="agcfg:string10k"/>
<xs:element name="RemoveURL" type="agcfg:string10k"/>
<xs:element name="ClearURL" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="DHCPv4">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="ClientNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Client" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="DHCPStatus" type="agcfg:string"/>
<xs:element name="Renew" type="agcfg:boolean"/>
<xs:element name="IPAddress" type="agcfg:string15"/>
<xs:element name="SubnetMask" type="agcfg:string15"/>
<xs:element name="IPRouters" type="agcfg:string15"/>
<xs:element name="DNSServers" type="agcfg:string15"/>
<xs:element name="LeaseTimeRemaining" type="agcfg:int-1_"/>
<xs:element name="DHCPServer" type="agcfg:string15"/>
<xs:element name="PassthroughEnable" type="agcfg:boolean"/>
<xs:element name="PassthroughDHCPPool" type="agcfg:string256"/>
<xs:element name="SentOptionNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="ReqOptionNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="SentOption" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Tag" type="agcfg:unsignedInt1_254"/>
<xs:element name="Value" type="agcfg:hexBinary255"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="ReqOption" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Order" type="agcfg:unsignedInt1_"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Tag" type="agcfg:unsignedInt1_254"/>
<xs:element name="Value" type="agcfg:hexBinary255"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Server">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="PoolNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Pool" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="MinAddress" type="agcfg:string"/>
<xs:element name="MaxAddress" type="agcfg:string"/>
<xs:element name="ReservedAddresses" type="agcfg:string"/>
<xs:element name="SubnetMask" type="agcfg:string"/>
<xs:element name="DNSServers" type="agcfg:string"/>
<xs:element name="DomainName" type="agcfg:string64"/>
<xs:element name="IPRouters" type="agcfg:string"/>
<xs:element name="LeaseTime" type="agcfg:int-1_"/>
<xs:element name="StaticAddressNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="StaticAddress" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Chaddr" type="agcfg:string"/>
<xs:element name="Yiaddr" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="DHCPv6">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="ClientNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Client" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="DUID" type="agcfg:hexBinary130"/>
<xs:element name="RequestAddresses" type="agcfg:boolean"/>
<xs:element name="RequestPrefixes" type="agcfg:boolean"/>
<xs:element name="RapidCommit" type="agcfg:boolean"/>
<xs:element name="Renew" type="agcfg:boolean"/>
<xs:element name="SuggestedT1" type="agcfg:int-1_"/>
<xs:element name="SuggestedT2" type="agcfg:int-1_"/>
<xs:element name="SupportedOptions" type="agcfg:string"/>
<xs:element name="RequestedOptions" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Server">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="PoolNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Pool" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Order" type="agcfg:unsignedInt1_"/>
<xs:element name="Interface" type="agcfg:string256"/>
<xs:element name="OptionNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Option" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Alias" type="agcfg:string64"/>
<xs:element name="Tag" type="agcfg:unsignedInt0_65535"/>
<xs:element name="Value" type="agcfg:hexBinary65535"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Users">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="UserNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="User" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="RemoteAccessCapable" type="agcfg:boolean"/>
<xs:element name="Username" type="agcfg:string64"/>
<xs:element name="Password" type="agcfg:string64"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="UPnP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Device">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="UPnPMediaServer" type="agcfg:boolean"/>
<xs:element name="UPnPIGD" type="agcfg:boolean"/>
<xs:element name="Capabilities">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="UPnPArchitecture" type="agcfg:unsignedInt"/>
<xs:element name="UPnPArchitectureMinorVer" type="agcfg:unsignedInt"/>
<xs:element name="UPnPMediaServer" type="agcfg:unsignedInt"/>
<xs:element name="UPnPIGD" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Firewall">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Config" type="agcfg:string"/>
<xs:element name="Version" type="agcfg:string16"/>
<xs:element name="LastChange" type="agcfg:dateTime"/>
<xs:element name="X_TELECOMITALIA_IT_FW_ACLv6Enable" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_ACLv6NumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_ACLv6" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="InternalPort" type="agcfg:string"/>
<xs:element name="Protocol" type="agcfg:string"/>
<xs:element name="InternalClient" type="agcfg:string256"/>
<xs:element name="Description" type="agcfg:string256"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Services">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="VoiceServiceNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_Virtual_PBX_ConfigFileStatus" type="agcfg:string256"/>
<xs:element name="X_TELECOMITALIA_IT_Virtual_PBX_ConfigFileLastError" type="agcfg:string256"/>
<xs:element name="X_TELECOMITALIA_IT_Virtual_PBX_URL" type="agcfg:string256"/>
<xs:element name="X_TELECOMITALIA_IT_VoIPServiceType" type="agcfg:string"/>
<xs:element name="VoiceService" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="VoiceProfileNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_UAMappingNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="Capabilities">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="MaxProfileCount" type="agcfg:unsignedInt"/>
<xs:element name="MaxLineCount" type="agcfg:unsignedInt"/>
<xs:element name="MaxSessionsPerLine" type="agcfg:unsignedInt"/>
<xs:element name="MaxSessionCount" type="agcfg:unsignedInt"/>
<xs:element name="SignalingProtocols" type="agcfg:string256"/>
<xs:element name="RTCP" type="agcfg:boolean"/>
<xs:element name="DSCPCoupled" type="agcfg:boolean"/>
<xs:element name="EthernetTaggingCoupled" type="agcfg:boolean"/>
<xs:element name="PSTNSoftSwitchOver" type="agcfg:boolean"/>
<xs:element name="FaxT38" type="agcfg:boolean"/>
<xs:element name="FaxPassThrough" type="agcfg:boolean"/>
<xs:element name="ToneGeneration" type="agcfg:boolean"/>
<xs:element name="RingGeneration" type="agcfg:boolean"/>
<xs:element name="DigitMap" type="agcfg:boolean"/>
<xs:element name="NumberingPlan" type="agcfg:boolean"/>
<xs:element name="VoicePortTests" type="agcfg:boolean"/>
<xs:element name="SIP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Role" type="agcfg:string"/>
<xs:element name="Transports" type="agcfg:string256"/>
<xs:element name="EventSubscription" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Codecs" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="EntryID" type="agcfg:unsignedInt1_"/>
<xs:element name="Codec" type="agcfg:string64"/>
<xs:element name="PacketizationPeriod" type="agcfg:string64"/>
<xs:element name="SilenceSuppression" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="VoiceProfile" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:string"/>
<xs:element name="Reset" type="agcfg:boolean"/>
<xs:element name="NumberOfLines" type="agcfg:unsignedInt"/>
<xs:element name="Name" type="agcfg:string64"/>
<xs:element name="SignalingProtocol" type="agcfg:string64"/>
<xs:element name="MaxSessions" type="agcfg:unsignedInt"/>
<xs:element name="DTMFMethod" type="agcfg:string64"/>
<xs:element name="PSTNFailOver" type="agcfg:boolean"/>
<xs:element name="FaxPassThrough" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_UAMapNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_VoicePortMapNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="SIP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="UserAgentDomain" type="agcfg:string256"/>
<xs:element name="UserAgentPort" type="agcfg:unsignedInt0_65535"/>
<xs:element name="UserAgentTransport" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_AuthRealm" type="agcfg:string128"/>
<xs:element name="X_TELECOMITALIA_IT_ConferenceCallDomainURI" type="agcfg:string256"/>
<xs:element name="OutboundProxy" type="agcfg:string256"/>
<xs:element name="OutboundProxyPort" type="agcfg:unsignedInt0_65535"/>
<xs:element name="RegistrationPeriod" type="agcfg:unsignedInt1_"/>
<xs:element name="TimerT1" type="agcfg:unsignedInt1_"/>
<xs:element name="TimerT2" type="agcfg:unsignedInt1_"/>
<xs:element name="TimerB" type="agcfg:unsignedInt1_"/>
<xs:element name="TimerF" type="agcfg:unsignedInt1_"/>
<xs:element name="RegisterExpires" type="agcfg:unsignedInt1_"/>
<xs:element name="UseCodecPriorityInSDPResponse" type="agcfg:boolean"/>
<xs:element name="DSCPMark" type="agcfg:unsignedInt0_63"/>
<xs:element name="VLANIDMark" type="agcfg:int-1_"/>
<xs:element name="EthernetPriorityMark" type="agcfg:int-1_"/>
<xs:element name="SIPEventSubscribeNumberOfElements" type="agcfg:unsignedInt"/>
<xs:element name="EventSubscribe" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Event" type="agcfg:string32"/>
<xs:element name="ExpireTime" type="agcfg:unsignedInt"/>
<xs:element name="Notifier" type="agcfg:string256"/>
<xs:element name="NotifierPort" type="agcfg:unsignedInt0_65535"/>
<xs:element name="NotifierTransport" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="RTP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="LocalPortMin" type="agcfg:unsignedInt0_65535"/>
<xs:element name="LocalPortMax" type="agcfg:unsignedInt0_65535"/>
<xs:element name="DSCPMark" type="agcfg:unsignedInt0_63"/>
<xs:element name="VLANIDMark" type="agcfg:int-1_"/>
<xs:element name="EthernetPriorityMark" type="agcfg:int-1_"/>
<xs:element name="TelephoneEventPayloadType" type="agcfg:unsignedInt0_128"/>
<xs:element name="RTCP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="TxRepeatInterval" type="agcfg:unsignedInt1_"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="FaxT38">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Line" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="Enable" type="agcfg:string"/>
<xs:element name="DirectoryNumber" type="agcfg:string32"/>
<xs:element name="X_TELECOMITALIA_IT_PhyAssignment" type="agcfg:string"/>
<xs:element name="Status" type="agcfg:string"/>
<xs:element name="CallState" type="agcfg:string"/>
<xs:element name="PhyReferenceList" type="agcfg:string32"/>
<xs:element name="X_TELECOMITALIA_IT_LineName" type="agcfg:string32"/>
<xs:element name="X_TELECOMITALIA_IT_MACAddress" type="agcfg:string"/>
<xs:element name="X_TELECOMITALIA_IT_LANManaged" type="agcfg:boolean"/>
<xs:element name="SIP">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="AuthUserName" type="agcfg:string128"/>
<xs:element name="AuthPassword" type="agcfg:string128"/>
<xs:element name="URI" type="agcfg:string389"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="CallingFeatures">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="CallerIDEnable" type="agcfg:boolean"/>
<xs:element name="MWIEnable" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_UAMap" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="FromUA" type="agcfg:string"/>
<xs:element name="ToVoicePort" type="agcfg:string"/>
<xs:element name="Preassigned" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_VoicePortMap" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="ToUA" type="agcfg:string"/>
<xs:element name="FromVoicePort" type="agcfg:string"/>
<xs:element name="Priority" type="agcfg:unsignedInt"/>
<xs:element name="Preassigned" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_LineLog">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="FirstCallNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="MaxNumberOfFirstCall" type="agcfg:unsignedInt"/>
<xs:element name="ClearLog" type="agcfg:boolean"/>
<xs:element name="FirstCall" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="DirectoryNumber" type="agcfg:string32"/>
<xs:element name="FirstCallTime" type="agcfg:dateTime"/>
<xs:element name="FirstCallInterface" type="agcfg:string64"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="PhyInterface" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="X_TELECOMITALIA_IT_Enable" type="agcfg:boolean"/>
<xs:element name="PhyPort" type="agcfg:string2"/>
<xs:element name="InterfaceID" type="agcfg:unsignedInt"/>
<xs:element name="Description" type="agcfg:string32"/>
<xs:element name="X_TELECOMITALIA_IT_SwitchToPSTNIn" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_SwitchToPSTNOut" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_TransmitGain" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_ReceiveGain" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_POSConfig" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_AssocTime" type="agcfg:dateTime"/>
<xs:element name="X_TELECOMITALIA_IT_DECTHandsetMaxNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_DECTHandsetNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="X_TELECOMITALIA_IT_DECTHandset" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="InterfaceID" type="agcfg:unsignedInt"/>
<xs:element name="TerminalName" type="agcfg:string"/>
<xs:element name="IPEI" type="agcfg:string"/>
<xs:element name="EMC" type="agcfg:string"/>
<xs:element name="HardwareVersion" type="agcfg:string"/>
<xs:element name="SoftwareVersion" type="agcfg:string"/>
<xs:element name="LastUpdateDateTime" type="agcfg:dateTime"/>
<xs:element name="CAT-IQSupported" type="agcfg:string"/>
<xs:element name="CAT-IQVersion" type="agcfg:string"/>
<xs:element name="Active" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_Stats">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="ResetStatistics" type="agcfg:boolean"/>
<xs:element name="PacketsSent" type="agcfg:unsignedInt"/>
<xs:element name="PacketsReceived" type="agcfg:unsignedInt"/>
<xs:element name="BytesSent" type="agcfg:unsignedInt"/>
<xs:element name="BytesReceived" type="agcfg:unsignedInt"/>
<xs:element name="PacketsLost" type="agcfg:unsignedInt"/>
<xs:element name="Overruns" type="agcfg:unsignedInt"/>
<xs:element name="Underruns" type="agcfg:unsignedInt"/>
<xs:element name="IncomingCallsReceived" type="agcfg:unsignedInt"/>
<xs:element name="IncomingCallsAnswered" type="agcfg:unsignedInt"/>
<xs:element name="IncomingCallsConnected" type="agcfg:unsignedInt"/>
<xs:element name="IncomingCallsFailed" type="agcfg:unsignedInt"/>
<xs:element name="OutgoingCallsAttempted" type="agcfg:unsignedInt"/>
<xs:element name="OutgoingCallsAnswered" type="agcfg:unsignedInt"/>
<xs:element name="OutgoingCallsConnected" type="agcfg:unsignedInt"/>
<xs:element name="OutgoingCallsFailed" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_Codec">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="ListNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="List" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="EntryID" type="agcfg:unsignedInt1_"/>
<xs:element name="Codec" type="agcfg:string64"/>
<xs:element name="PacketizationPeriod" type="agcfg:string64"/>
<xs:element name="SilenceSuppression" type="agcfg:boolean"/>
<xs:element name="Enable" type="agcfg:boolean"/>
<xs:element name="Priority" type="agcfg:unsignedInt1_"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="Tests">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="TestState" type="agcfg:string"/>
<xs:element name="TestSelector" type="agcfg:string64"/>
<xs:element name="PhoneConnectivity" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_Vloop_DC" type="agcfg:int"/>
<xs:element name="X_TELECOMITALIA_IT_Vloop_AC" type="agcfg:int"/>
<xs:element name="X_TELECOMITALIA_IT_Rloop" type="agcfg:int"/>
<xs:element name="X_TELECOMITALIA_IT_OffHook" type="agcfg:boolean"/>
<xs:element name="X_TELECOMITALIA_IT_REN" type="agcfg:int"/>
<xs:element name="X_TELECOMITALIA_IT_PSTN" type="agcfg:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_HandsetUpgrade" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:simple_object">
<xs:sequence>
<xs:element name="State" type="agcfg:string"/>
<xs:element name="URLNumberOfEntries" type="agcfg:unsignedInt"/>
<xs:element name="URL" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="EMC" type="agcfg:string"/>
<xs:element name="Manufacturer" type="agcfg:string"/>
<xs:element name="HardwareVersion" type="agcfg:string"/>
<xs:element name="URL" type="agcfg:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="X_TELECOMITALIA_IT_UAMapping" minOccurs="0" maxOccurs="unbounded" id="i">
<xs:complexType>
<xs:complexContent>
<xs:extension base="agcfg:istance_object">
<xs:sequence>
<xs:element name="FromUA" type="agcfg:string"/>
<xs:element name="ToUA" type="agcfg:string"/>
<xs:element name="Priority" type="agcfg:unsignedInt"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
